name: Build Linux

on:
  pull_request:
  push:
    branches: [ main ]

jobs:
  build: 
    runs-on: ubuntu-latest
    
    steps:
    - name: Checkout repository
      uses:  actions/checkout@v4
    
    - name: Install dependencies
      run: sudo apt-get update && sudo apt-get install -y libgtest-dev
    
    - name: Configure CMake
      run: cmake -S . -B build -DCMAKE_BUILD_TYPE=Release
    
    - name: Build
      run: cmake --build build --config Release