name: CI

on:
  pull_request: 
  push:
    branches:  [ main ]

jobs:
  build-linux:
    name: Build Linux
    runs-on: ubuntu-latest
    
    steps:
    - name:  Checkout repository
      uses:  actions/checkout@v4
    
    - name: Install dependencies
      run: sudo apt-get update && sudo apt-get install -y libgtest-dev cmake
    
    - name: Configure CMake
      run: cmake -S .  -B build -DCMAKE_BUILD_TYPE=Release
    
    - name: Build
      run: cmake --build build --config Release

  build-macos:
    name: Build macOS
    runs-on: macos-latest
    
    steps:
    - name: Checkout repository
      uses: actions/checkout@v4

    - name:  Check CMake 
      run: cmake --version
    
    - name: Configure CMake
      run: cmake -S .  -B build -DCMAKE_BUILD_TYPE=Release
    
    - name: Build
      run: cmake --build build --config Release

  build-windows:
    name: Build Windows
    runs-on: windows-latest
    
    steps:
    - name: Checkout repository
      uses:  actions/checkout@v4
    
    - name: Check CMake
      run: cmake --version
      shell: powershell
    
    - name: Configure CMake
      run: cmake -S . -B build -DCMAKE_BUILD_TYPE=Release
    
    - name: Build
      run: cmake --build build --config Release

  test:
    name: GTest/Logic Tests
    runs-on:  ubuntu-latest
    needs: build-linux
    
    steps:  
    - uses: actions/checkout@v4
    
    - name: Install GTest and Dependencies
      run: sudo apt-get update && sudo apt-get install -y libgtest-dev cmake build-essential
    
    - name: Configure CMake
      run:  cmake -S . -B build_tests -DCMAKE_BUILD_TYPE=Debug -DBUILD_TESTS=ON
    
    - name: Build
      run: cmake --build build_tests
    
    - name: Run Tests
      working-directory: build_tests/tests
      run: ctest --output-on-failure --verbose