name: C++ Logic Tests

on:  
  pull_request: 
  push:
    branches: [ main ]

jobs: 
  test: 
    runs-on: ubuntu-latest
    
    steps: 
    - uses: actions/checkout@v4
    
    - name: Install GTest and Dependencies
      run: sudo apt-get update && sudo apt-get install -y libgtest-dev cmake build-essential
    
    - name: Configure CMake
      run: cmake -S . -B build_tests -DCMAKE_BUILD_TYPE=Debug -DBUILD_TESTS=ON
    
    - name: Build
      run: cmake --build build_tests
    
    - name: Run Tests
      working-directory: build_tests/tests
      run: ctest --output-on-failure --verbose